body {
    font-family: Raleway;
}

.welcome-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    height: 850px;
    background-color: #3498db;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 230px;
}

.hidden-text {
    position: absolute;
    top: -20000px;
}

.img-logo {
    width: 150px;
    height: 35px;
}

.img-menu {
    width: 36px;
    height: 25px;
}

.menu-btn {
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #3498db;
}

.title {
    margin-bottom: 47px;
    font-size: 86px;
    font-weight: bold;
    color: #ecf0f1;
}

.subtittle {
    font-size: 50px;
    font-weight: bold;
    color: #ecf0f1;
}

.section-window {
    position: absolute;
    width: 1141px;
    height: 580px;
    top: 650px;
    padding: 75px 185px 0px;
    border-radius: 10px;
    box-shadow: 0.5px 0.9px 0 1px rgba(155, 155, 155, 0.3);
    background-color: #fff;
}

.window-subtittle {
    margin-bottom: 32px;
    text-align: center;
    font-size: 40px;
    white-space: nowrap;
}

.picture-cross {
    width: 35px;
    height: 35px;
    margin: 0 auto 35px;
    cursor: pointer;
}

.img-cross {
    width: 100%;
}

.window-text {
    height: 155px;
    margin: 0 auto 64px;
    font-size: 20px;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
}

.window-btn {
    display: block;
    margin: 0 auto;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 37.5px;
    font-size: 20px;
    background-color: #3498db;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.section-container {
    display: flex;
    justify-content: center;
    padding-top: 471px;
    padding-bottom: 122px;
    background-color: #edf0f1;
}

.round-objects-container {
    display: flex;
    justify-content: space-between;
    width: 1141px;
}

.union-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.round-object {
    width: 220px;
    height: 220px;
    margin-bottom: 39px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0.5px 0.9px 0 1px rgba(155, 155, 155, 0.3);
}

.section-items-subtittle {
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 997px;
    padding: 100px 246px 118px 254px;
    background-color: #27ae60;
}

.projects-section-title {
    margin-bottom: 41px;
    font-size: 40px;
    color: #fff;
}

.projects-section-description {
    width: 750px;
    margin: 0 auto 75px;
    font-size: 20px;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
    color: #fff;   
}

.slider-container {
    display: flex;
    position: relative;
}

.slide-container-left {
    width: 676px;
    height: 484px;
    margin: 49px 154px 50px 0;
}

.slide-img-left {
    width: 100%;
}

.slide-button-left {
    position: absolute;
    width: 47px;
    height: 88px;
    margin: 0px 100px 0 100px;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slide-button-img-left {
    width: 100%;
}

.slide-container-right {
    width: 676px;
    height: 484px;
    margin: 49px 0 50px 0px;
}

.slide-img-right {
    width: 100%;
}

.slide-button-right {
    position: absolute;
    width: 47px;
    height: 88px;
    margin: 0px 100px 0 100px;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slide-button-img-right {
    width: 100%;
}

.slide-container-center {
    position: absolute;
    width: 814px;
    height: 583px;
    margin-top: 221px;
}

.slide-img-center {
    width: 100%;
}

.clients-section {
    height: 600px; 
    padding: 98px;
    background-color: #edf0f1;  
}

.windows-slider-container {
    display: flex;
    justify-content: center;
}

.clients-section-description {
    width: 1096px;
    margin: 0 auto 110px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

.window-slider-container-left {
    width: 555px;
    height: 537px;
    margin-right: 31px;
    padding: 77px 55px 70px 55px;
    border-radius: 10px;
    box-shadow: 0.5px 0.9px 0 1px rgba(155, 155, 155, 0.3);
    background-color: #fff;
}

.window-subtittle-left {
    height: 30px;
    margin: 0 auto 32px;
    text-align: center;
    font-size: 40px;
}

.slide-cross {
    width: 35px;
    height: 35px;
    margin: 0 auto 35px;
    cursor: pointer;
}

.slide-cross-img {
    width: 100%;
}

.window-slider-description {
    width: 443px;
    margin: 0 auto 43px;
    font-size: 20px;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
}

.window-slider-container-right {
    width: 545px;
    height: 537px;
    padding: 77px 55px 70px 55px;
    border-radius: 10px;
    box-shadow: 0.5px 0.9px 0 1px rgba(155, 155, 155, 0.3);
    background-color: #fff;
}

.window-subtittle-right {
    height: 30px;
    margin: 0 auto 32px;
    text-align: center;
    font-size: 40px;
}

.section-partners {
    height: 731px;
    padding: 447px 0 114px 0;
    background-color: #9b59b6;
}

.partners-section-title {
    width: 260px;
    margin: 0 auto 98px;
    font-size: 40px;
    font-weight: 500;
    white-space: nowrap;
    color: #fff;
}

.slider-partners-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    cursor: pointer;
}

.slide-container-msft {
    width: 192px;
    height: 41px;
}

.slide-container-samsung {
    width: 185px;
    height: 28px;
}

.slide-container-ibm {
    width: 140px;
    height: 52px;
}

.slide-container-google {
    width: 170px;
    height: 56px;
}

.slide-logo-partners {
    width: 100%;
    filter: brightness(5000%);
}

